<%- contentFor('meta') %>
<!-- anything between this line and before the next contentFor will be appended to meta -->
<title>New Prediction</title>

<%- contentFor('styles') %>
<!-- anything between this line and before the next contentFor will be appended to styles -->

<%- contentFor('scripts') %>
<!-- anything between this line and before the next contentFor will be appended to scripts -->
<script>
  const tournamentSelected = 'WC'

  const generateTitle = () => {
    return '<h1 class="text-center mb-3">New Prediction</h1>'
  }

  const generatePage = (info) => {
    const $page = $('#pages-predictions-new')
    const $title = generateTitle(info)

    $page.html('').append($title)
  }

  const getTournamentTeams = () => {
  axios({
    method: 'GET',
    url: '/api/predictions/new'
  }).then((resp) => {
    // generatePage({ teams: resp.data.teams})
    // console.dir( resp.data.teams)

  })
}

$(document).ready(() => {
  generatePage({ isLoading: true })
  getTournamentTeams()
  // $('#pages-wishlists-index').on('submit', '#filter', handleFilterSubmit)
  // $('#pages-wishlists-index').on('click', '#filter #reset-form', handleFilterReset)
  // $('#pages-wishlists-index').on('click', '.page-link', handlePageChange)
})
</script>


<%- contentFor('body') %>
<!-- anything between this line and before the next contentFor will be appended to body -->
<div id="pages-predictions-new" class="container"></div>
