@import 'node_modules/bootstrap/scss/bootstrap';
@import '~mdb-ui-kit/css/mdb.min.css';

body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

  .importantRule { background-position: left -500px top 500px !important; }

  #page-title.scroll-up{
    transform: translateY(100%);
    animation: titleScroll cubic-bezier(0.770, 0.000, 0.175, 1.000) 1.8s forward;
  }

  @keyframes titleScroll {
    from {
      transform:
        translateY(50%);
    }
    to {
      transform:
        translateY(0%);
    }
  }

    /* MAIN START */
    #main {
      margin-top: 0px;
      opacity: 0.8;

          .list-group-item-action:hover {
            background-color: rgba(0, 0, 0, 0.4) !important;
          }

          .group-standing {
            height: 60px;
          }

          .group-team *,
          .group-standing * {
            pointer-events: none;
          }

          .group-team {
            cursor: pointer;
          }
          .group-team.disabled {
            filter: blur(5px);
          }

          .group-ranking-flag {
            width: auto;
            height: 50px;
            text-align: center;
            object-fit: cover;
          }

          .round-flag {
            width: 50px;
            height: 50px;
            text-align: center;
            object-fit: cover;
          }
          .round-flag:hover {
            border-color: rgba(0, 0, 0, 0.4) !important;
          }
          .group-team.selected .round-flag {
            border-width: 3px !important;
            border-color: rgba(0, 0, 0, 0.4) !important;
          }

          .bracket-flag {
            /* width: 100%;
            height: 100%; */
            width: 50px;
            height: 50px;
            text-align: center;
            object-fit: cover;
          }

          .bracket-winner-flag {
            /* width: 100%;
            height: 100%; */
            width: auto;
            height: 50px;
            text-align: center;
            object-fit: cover;
          }

          #brackets [data-bracket-id="third"] .bracket-matches .match {
            position: relative;
            top: 100px;
          }





          .glow-on-hover {
              width: 240px;
              height: 60px;
              border: none;
              outline: none;
              color: #fff;
              background: #111;
              cursor: pointer;
              position: relative;
              z-index: 0;
              border-radius: 10px;
          }

          .glow-on-hover:before {
              content: '';
              background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
              position: absolute;
              top: -2px;
              left:-2px;
              background-size: 400%;
              z-index: -1;
              filter: blur(5px);
              width: calc(100% + 4px);
              height: calc(100% + 4px);
              animation: glowing 20s linear infinite;
              opacity: 0;
              transition: opacity .3s ease-in-out;
              border-radius: 10px;
          }

          .glow-on-hover:active {
              color: #000
          }

          .glow-on-hover:active:after {
              background: transparent;
          }

          .glow-on-hover:hover:before {
              opacity: 1;
          }

          .glow-on-hover:after {
              z-index: -1;
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: #111;
              left: 0;
              top: 0;
              border-radius: 10px;
          }

          @keyframes glowing {
              0% { background-position: 0 0; }
              50% { background-position: 400% 0; }
              100% { background-position: 0 0; }
          }

        }

}
