@import 'node_modules/bootstrap/scss/bootstrap';
@import '~mdb-ui-kit/css/mdb.min.css';

body {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

  .importantRule { background-position: left -500px top 500px !important; }

  .main {
    .round-flag {
      /* width: 100%;
      height: 100%; */
      width: 50px;
      height: 50px;
      text-align: center;
      object-fit: cover;
    }
  }
}
