<%- contentFor('meta') %>
<!-- anything between this line and before the next contentFor will be appended to meta -->
<title>Home Page</title>

<%- contentFor('styles') %>
<!-- anything between this line and before the next contentFor will be appended to styles -->

<%- contentFor('scripts') %>
<!-- anything between this line and before the next contentFor will be appended to scripts -->

<%- contentFor('body') %>
<!-- anything between this line and before the next contentFor will be appended to body -->
<h1>Home Page</h1>
